<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href= "../static/css/style.css">
  </head>

  <body>
    <!-- navigation part -->
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: rgb(66, 66, 66);">
        <div class="container-fluid">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
        <a class="navbar-brand" href="index.html" style="font-size: 45px; margin-top: 15px ; margin-left: 50px; color: rgb(201, 143, 19);">World</a>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav" style="font-size: 20px; margin-left: 80px; margin-top: 18px;">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Plots</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="Max Temperature.html">Max Temperature</a>
                <a class="dropdown-item" href="Humidity.html">Humidity</a>
                <a class="dropdown-item" href="Cloudiness.html">Cloudiness</a>
                <a class="dropdown-item" href="Wind Speed.html">wind Speed</a>
              </div>
            </li>
            <li><a class="nav-link" href="/project2/UWA-Project_2/source_code/templates/summary.html">Summary</a></li>
      <li><a class="nav-link" href="/project2/UWA-Project_2/source_code/templates/Data.html">Data</a></li>
      <li><a class="nav-link" href="/project2/UWA-Project_2/source_code/templates/contact.html">Contact Us</a></li>
      <li><a href="/project2/UWA-Project_2/source_code/templates/api.html">API</a></li>
      
          </ul>
        </div>
      
      </nav>
      <div class="container-fluid bg-3 text-center">       
        <div class="container"> 
        <h3 class="text-center" style="margin-top: 90px;">Team Members</h3><br>
        <hr style="height:2px;border-width:0;background-color:rgb(238, 234, 234)">
      <div class="row">
          <div class="col-lg-1">
            </div>
      
        <div class="col-md-2 col-sm-12">
          <div class="thumbnail" id='rye-bio' style="background-color:rgb(129, 118, 118) ;height: 800px; padding: 25px;">
          <img src="../static/images/rye.jpg" width="400" height="300" alt="Rye" style="border-radius: 15px; border: 5px solid rgb(255, 255, 255);">
          <br>
            <p style="color: rgb(255, 255, 255);"><strong>Rye Capati</strong></p>
            <hr>
            <p style="color: rgb(255, 255, 255);">Rye has panned out from IT Service Desk to providing high quality On-site Support to clients which then progressed to leading and managing an IT Site Support Team. 
              
              You can view Rye’s LinkedIn <a href='https://www.linkedin.com/in/rye-capati-2589b315a/'>here</a>
          </p>
          </div> 
      </div>
      
      <div class="col-lg-2">
        <div class="thumbnail" id='stephen-bio' style="background-color:rgb(129, 118, 118); height: 800px; padding: 25px;">
        <img src="../static/images/stive.jpg" width="400" height="300" alt="Stephen" style="border-radius: 15px; border: 5px solid rgb(255, 255, 255);">
        <br>
          <p style="color: rgb(255, 255, 255);"><strong>Stephen Milton</strong></p>
          <hr>
          <p style="color: rgb(255, 255, 255);">Organized data analyst with a strong portfolio in analysing data with different tools such as Microsoft Excel, Tableau and Python. Bachelor of Statistics and certificate in data visualization from UWA with excellent grades, having working knowledge of financial analysis and economics with 10 years of experience as a senior bank advisor.
            
            You can view Stephen LinkedIn <a href='https://www.linkedin.com/in/stephen-milton-4765ab84/'>here</a>
        </p>
        </div> 
      </div>
      
      <div class="col-lg-2">
        <div class="thumbnail" id='cicily-bio' style="background-color:rgb(129, 118, 118); height: 800px; padding: 25px;">
        <img src="../static/images/cicily.jpg" width="400" height="300" alt="Cicily" style="border-radius: 15px; border: 5px solid rgb(255, 255, 255);">
        <br>
          <p style="color: rgb(255, 255, 255);"><strong>Cicily George</strong></p>
          <hr>
          <p style="color: rgb(255, 255, 255);">Organized data analyst with a strong portfolio in analysing data with different tools such as Microsoft Excel, Tableau and Python. Bachelor of Statistics and certificate in data visualization from UWA with excellent grades, having working knowledge of financial analysis and economics with 10 years of experience as a senior bank advisor.
            
            You can view Cicily LinkedIn <a href='https://www.linkedin.com/in/cicily-george-a235731a2/'>here</a>
        </p>
        </div> 
      </div>
      
      <div class="col-lg-2">
        <div class="thumbnail" id='parastoo-bio' style="background-color:rgb(129, 118, 118); height: 800px; padding: 25px;">
        <img src="../static/images/parastoo.jpg" width="400" height="300" alt="Parastoo" style="border-radius: 15px; border: 5px solid rgb(255, 255, 255);">
        <br>
          <p style="color: rgb(255, 255, 255);"><strong>Parastoo Razavi</strong></p>
          <hr>
          <p style="color: rgb(255, 255, 255); ">Organized data analyst with a strong portfolio in analysing data with different tools such as Microsoft Excel, Tableau and Python. Bachelor of Statistics and certificate in data visualization from UWA with excellent grades, having working knowledge of financial analysis and economics with 10 years of experience as a senior bank advisor.
            
            You can view Parastoo’s LinkedIn <a href='https://www.linkedin.com/in/parastoo-razavi/'>here</a>
        </p>
        </div> 
      </div>
      
      
      <div class="col-lg-2">
        <div class="thumbnail" id='ezra-bio' style="background-color:rgb(129, 118, 118); height: 800px; padding: 25px;">
        <img src="https://placehold.it/150x80?text=IMAGE" width="400" height="300" alt="Ezra" style="border-radius: 15px; border: 5px solid rgb(255, 255, 255);">
        <br>
          <p style="color: rgb(255, 255, 255);"><strong>Ezra Tassone</strong></p>
          <hr>
          <p style="color: rgb(255, 255, 255);">Organized data analyst with a strong portfolio in analysing data with different tools such as Microsoft Excel, Tableau and Python. Bachelor of Statistics and certificate in data visualization from UWA with excellent grades, having working knowledge of financial analysis and economics with 10 years of experience as a senior bank advisor.
            
            You can view Ezra LinkedIn <a href='https://www.linkedin.com/in/ezra-tassone-73a3191b3/'>here</a>
        </p>
        </div> 
      </div>
      
        <div class="col-lg-1">
      </div>
      </div>
      </div><br><br>
      <footer class="container-fluid text-center navbar-fixed-bottom" style="height: 4px;">
        <p>Copyright © 2021 UWA Bootcamps. All rights reserved.</p>
      </footer>
  </body>
</html>