<!DOCTYPE html>
<html lang="en-us">
<head>
  
</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid navbar-custom">
    <div class="row">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>       
      </button>
      <a class="navbar-brand" id="logo" href="/">World Population</a>
      </div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav" id="ournav">
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Plots</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="Max Temperature.html">Max Temperature</a>
          <a class="dropdown-item" href="Humidity.html">Humidity</a>
          <a class="dropdown-item" href="Cloudiness.html">Cloudiness</a>
          <a class="dropdown-item" href="Wind Speed.html">wind Speed</a>
        </div>
      </li> -->
      <li><a class="nav-link" href="countries-population">Countries</a></li>
      <li><a class="nav-link" href="Data">Table Data</a></li>
      <li><a class="nav-link" href="api">API Documentation</a></li>
      <li><a class="nav-link" href="summary">Resource</a></li>
      <li><a class="nav-link" href="contact">Our Team</a></li>
    </ul>
  </div>
  </div>
  </div>
</nav>
<!-- End Navbar -->
</body>
</html>